.Btn1 {
  background-color: cadetblue;
  border: rgb(201, 193, 193);
  padding: 15px 32px;
  text-align: center;
  font-size: medium;
  margin-right: 20px;
}
.Btn2 {
  background-color: aqua;
  border: rgb(201, 193, 193);
  padding: 15px 32px;
  text-align: center;
  font-size: medium;
  margin-right: 20px;
}
.Btn3 {
  background-color: tan;
  border: rgb(201, 193, 193);
  padding: 15px 32px;
  text-align: center;
  font-size: medium;
  margin-right: 20px;
}
.fajr {
  background-color: greenyellow;
  height: 500px;
  text-align: center;
}
.isha {
  background-color: grey;
  height: 500px;
  text-align: center;
}
